@model IEnumerable<string>
<!DOCTYPE html>

<html>
<head>
    <title>Главная</title>
</head>

<body>
<div>
    <h3>MAIN</h3>
    @foreach (var item in Model)
    {
        <p>@item</p>
    }
</div>
</body>
</html>