@model IEnumerable<WebMVC.Models.ProductViewModel>
<!DOCTYPE html>

<html>
<head>
    <title>Главная</title>
</head>
<body>
<div>
     <td>
                    <a asp-action="Favorite" asp-controller="Home">Избранное</a>
                </td>
    <h3>MAIN</h3>
    
    <div class="container-img">
        @foreach (var item in Model)
        {
            <div class="item-grow">
                <div class="item">
                    <img class="img-thumbnail" src="@item.Image">
                </div>
            </div>
        }
    </div>
</div>
</body>
</html>